*{
    /* Applying styles to all elements */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 
  body
  {
  background-color: #FDEEDC;
  }

  .div-1
  {
     /* Styling for div1 element */
    background-color: #F4E0B9;
    display: flex;
    justify-content: space-between;
    height: 159px;
    width: 100%;
    padding: 1%;
  }
    /* give some style to the ancor  */
  .div-1 a
  {
    height: 130px;
    width: 200px;
  }

  /* give style to div1 image */
.div-1 img
{
    height: 130px;
    width: 200px;
    margin-bottom: 20px;
     cursor: pointer;
} 
/* give some style to the btn class which is a container for login and sign in link  */

.btn
 {
 
  display: flex;
  justify-content: center;
   align-items: center;
 flex-direction: row;
   height: 100%;
   width: 20%;

}

     /* styling for btn ancors  */
     
 .btn a
 {
  position: relative;
   text-decoration: none;
    margin: 10% 10% 0 0 ;
     color: #290001;
     font-weight: bold;
     text-align: center;
      height: 25%;
      width: 80%;
     padding: 5px 10px 10px 5px;
     border: 2px solid #290001;
     border-radius: 20px;
     z-index: 1;
     cursor: pointer;
     transition: color 300ms ease;
 }
  /* give before psudo element  */

 .btn a::before
 {
content: '';
position: absolute;
 top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 width: 100%;
 height: 100%;
 background-color: #290001;
 border-radius: 20px;
 z-index: -1;
 transform: scaleX(0);
 transition: transform 300ms ease-in-out;
 }


 /* give our hover animation to before  */
 
 .btn a:hover::before
 {
  transform: scaleX(1);
 }
  /* give  hover on ancor  */

 .btn a:hover

 {
   color: #FDEEDC;
 }
 
  /* give styling to the .Introduction_div */
.Introduction_div
{
    position: relative;
    top: 0;
    height: 600px;
    width: 100%;
    background-color: #293040;
    clip-path: polygon(0% 0%, 100.1% 0%, 100% 100%, 0% 69.3%);
}
 /* give inner dive styling  */
.Introduction_div-Inner_div_1
{
    position: absolute;
    height: 500px;
    width: 40%;
     right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction:column ;
}
 /* give stylin to the  heading  */
.Introduction_div-Inner_div_1 h2
{
     
    color: #FFE6A7;
    font-size: 50px;
    position: relative;
   
}
 /* give styling ot the first latter of heading  */
.Introduction_div-Inner_div_1 h2::first-letter
{
    font-size: 150%;
}
 /* give pereagraph styling  */
.Introduction_div-Inner_div_1 p
{
    color: #FFE6A7;
    display: inline-flex;
    justify-content: center;
    font-size: 17px;
    margin-right: 30px;
    align-items: center;
    flex-direction: column;
}
 /* give styling to the second inner div  */
.Introduction_div-Inner_div_2
{
    position: absolute;
    left: 0;
    display: flex;
    height: 400px;
    width: 400px;
    margin-left: 17% ;
    margin-top: 30px;
    background-color: #FFE6A7;
    transform: translateY(10%);
    border-radius: 68% 32% 66% 33% / 60% 52% 48% 39%;
    
}
 /* give styling to the third inner  div  */

.Introduction_div-Inner_div_3
{
    position: absolute;
    left: 0;
    display: flex;
    height: 400px;
    width: 400px;
    margin-left: 17% ;
    margin-top: 30px;
    transform: translateY(10%);
    background-image: url(../About\ Us\ Img.jpg);
    border-radius: 45% 55% 37% 63% / 45% 58% 42% 55%;
    background-repeat: no-repeat;
    background-size: cover;

} 
 /* styling to the .Missinon_statement-Div  */
.Missinon_statement-Div
{
    height: 500px; 
    width: 100%;
    display: flex;
    flex-direction: column;
}

 /* heading styling  */
.Missinon_statement-Div h2
{
    text-align:start;
    font-size: 50px;
    margin: 40px;
    margin-left: 10%;
    color: #290001;
}
 /* first latter styling  */
.Missinon_statement-Div h2::first-letter
{
    font-size: 150%;
}
/* give styling to the .Missinon_statement inner div  */
.Missinon_statement-Inner-Div-1
{
  
    position: relative;
    height: 400px;
    width: 38%;
    bottom: 0;
     left: 0;
     margin-left: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    flex-direction:column ;
    
}
 /* peragraph styling  */
.Missinon_statement-Inner-Div-1 p
{
    font-size: 17px;
}
 /* styling to the second inner div  */
.Missinon_statement-Inner_div_2
{
    position: absolute;
    right: 0;
    display: flex;
    height: 450px;
    width: 450px;
    margin-right: 10% ;
    background-color: #290001;
    border-radius: 65% 35% 65% 35% / 39% 28% 71% 61%;
}
 /* styling to the third inner div  */
.Missinon_statement-Inner_div_3
{
    position: absolute;
    right: 0;
    display: flex;
    height: 450px;
    width: 450px;
    margin-right: 10% ;
    background-image: url(../our\ mission\ img.jpg);
    border-radius: 46% 54% 38% 62% / 33% 58% 42% 67%;
    background-size: cover;
}
 /* styling to the what we do div  */
.what_we_do-div
{
    
    height: 500px; 
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* heading styling  */
.what_we_do-div h2
{
    text-align:end;
    font-size: 50px;
    margin: 40px;
    margin-right: 30%;
}
 /* first latter styling  */
.what_we_do-div h2::first-letter
{
    font-size: 150%;
}
 /* what we do inner div styling  */
.What_we_do-Inner-Div-1
{
    position: relative;
    height: 400px;
    width: 38%;
    bottom: 0;
    margin-left: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    flex-direction:column ;
}
 /* pera graph styling  */
.What_we_do-Inner-Div-1 p
{
    font-size: 17px;
}
 /* second inner div styling  */
.What_we_do-Inner-Div-2
{
    position: absolute;
    left: 0;
    display: flex;
    height: 450px;
    width: 450px;
    margin-left: 10% ;
    background-color: #290001;
    border-radius: 65% 35% 65% 35% / 39% 28% 71% 61%;
}
 /* third  inner div styling  */
 .What_we_do-Inner-Div-3
{
    position: absolute;
    left: 0;
    display: flex;
    height: 450px;
    width: 450px;
    margin-left: 10% ;
    background-image: url(../what\ we\ do\ img.jpg);
    border-radius: 46% 54% 38% 62% / 33% 58% 42% 67%;
    background-size: cover;
}