*{
  /* Applying styles to all elements */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} 
body
{
background-color: #FDEEDC;
}

.div-1
{
   /* Styling for div1 element */
  background-color: #F4E0B9;
  display: flex;
  justify-content: space-between;
  height: 159px;
  width: 100%;
  padding: 1%;
}
  /* give some style to the ancor  */
.div-1 a
{
  height: 130px;
  width: 200px;
}

/* give style to div1 image */
 .div-1 img
{
  height: 130px;
  width: 200px;
  margin-bottom: 20px;
   cursor: pointer;
} 
/* give some style to the btn class which is a container for login and sign in link  */

.btn
{

display: flex;
justify-content: center;
 align-items: center;
flex-direction: row;
 height: 100%;
 width: 20%;

}

   /* styling for btn ancors  */
   
.btn a
{
position: relative;
 text-decoration: none;
  margin: 10% 10% 0 0 ;
   color: #290001;
   font-weight: bold;
   text-align: center;
    height: 25%;
    width: 80%;
   padding: 5px 10px 10px 5px;
   border: 2px solid #290001;
   border-radius: 20px;
   z-index: 1;
   cursor: pointer;
   transition: color 300ms ease;
}
/* give before psudo element  */

.btn a::before
{
content: '';
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
background-color: #290001;
border-radius: 20px;
z-index: -1;
transform: scaleX(0);
transition: transform 300ms ease-in-out;
}


/* give our hover animation to before  */

.btn a:hover::before
{
transform: scaleX(1);
}
/* give  hover on ancor  */

.btn a:hover

{
 color: #FDEEDC;
}