*{
  /* Applying styles to all elements */

    box-sizing: border-box;
    padding: 0;
    margin: 0;
  } 

  body
  {
  background-color: #FDEEDC;
  }
  /* Styling for div1 element */

  .div-1
  {
    background-color: #F4E0B9;
    display: flex;
    justify-content: space-between;
    height: 159px;
    width: 100%;
    padding: 1%;
  }
  /* give some style to the ancor  */
  
  .div-1 a
  {
    height: 130px;
    width: 200px;
  }

  /* give style to div1 image */

   .div-1 img
{
    height: 130px;
    width: 200px;
    margin-bottom: 20px;
     cursor: pointer;
} 



 /* give styling to the main div  */
.space-for_log-in-sign-in
{
    height: 750px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
}

 /* give styling to the line  */
.vartical-line 
{

  height: 90%;
  border-right: 2px solid #290001; 

}
 /* give login dive  styling */

.div-for-log-in
{

    height: 560px;
    width: 40%;
    background-color: #293040;
     border-radius: 10%;
      display: flex;
      flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}
 /* give sign in div styling  */
.div-for-sign-in
{
    height: 670px;
    width: 40%;
    background-color: #293040;
     border-radius: 10%;
      display: flex;
      flex-direction: column;
     align-items: center;
    justify-content: center;
}

 /* give styling to h2  */
.div-for-sign-in h2
{
    color: #F4E0B9;
    font-size: 30px;
    margin-top: 5%;
}
 /* give styling to span  */
.div-for-sign-in h2 span
{
    color: #99582A;
    font-size: 40px;
}
 /* give styling to heading  */
.div-for-log-in h2
{
    color: #F4E0B9;
    font-size: 30px;
}
 /* give styling to span  */
.div-for-log-in h2 span
{
    color: #99582A;
    font-size: 40px;
}

 /* paragraph styling  */
.div-for-log-in p
{
    color: #F4E0B9;
    text-align: center;
    font-size: 20px;
}
 /* give styling to the div  */
.input-name,.input-Email
{
    height: 8%;
    width: 90%;
    margin: 35px  0 0 25px;
    border: solid 2px #F4E0B9;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
/* give styling to  name imput  and email input   */
 
.input-name input,.input-Email input
{
    height: 20px;
    margin-left: 10px;
    outline: none;
    width: 90%;
    background-color: #293040;
    border: none;
    color: #F4E0B9;
}
 /* give  styling to label  */
 .input-name label, .input-Email label
{
    position: absolute;
    margin-left: 25px;
    font-weight: 500;
    padding: 0 6px 0 6px;
    transform: translateY(-135%);
    background-color: #293040;
    color: #F4E0B9;
} 
 /* give styling to div  */
.input-Contact
{
    height: 8%;
    width: 50%;
    margin: 35px  0 0 10px;
    border: solid 2px #F4E0B9;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
 /* give styling to input  */

.input-Contact input
{
    height: 20px;
    margin-left: 10px;
    outline: none;
    width: 0%;
    background-color: transparent;
    border: none;
    color: #F4E0B9;
}
 /* give styling to  lable  */
.input-Contact label
{
    position: absolute;
    margin-left: 25px;
    font-weight: 500;
    padding: 0 6px 0 6px;
    transform: translateY(-135%);
    background-color:#293040;
     color: #F4E0B9;
}
 /* give styling to selection  */
.select-gender
 {
    position: relative; 
    transform: translateY(-83px);
    left: 53%;
    height: 8%;
    width: 40%;
    margin: 35px  0 0 10px;
    border: solid 2px #F4E0B9;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
 /* give styling to lable  */
.select-gender label
{
    position: absolute;
    margin-left: 25px;
    font-weight: 500;
    padding: 0 6px 0 6px;
    transform: translateY(-135%);
    background-color: #293040;
    color: #F4E0B9;
} 
/* give styling to select  */
.select-gender select
{
    height: 20px;
    margin-left: 10px;
    outline: none;
    width: 90%;
    background-color: #293040 ;
    border: none;
    color: #F4E0B9;
}
 /* give styling to address  */
.Address
{
    height: 8%;
    width: 95%;
    margin: 0 0 20px 10px;
    border: solid 2px #F4E0B9;
    transform: translateY(-60px);
    display: flex;
    align-items:start;
    border-radius: 40px;
}
 /* give styling label  */
.Address label
{
    position: absolute;
    margin-left: 25px;
    font-weight: 500;
    padding: 0 6px 0 6px;
    transform: translateY(-70%);
    background-color: #293040;
    color: #F4E0B9;
}
 /* give input styling  */
.Address input
{
    height: 20px;
    margin-left: 20px;
   margin-top: 10px;
    outline: none;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #293040;
}
 /* give styling to input  */

 .submit-class input
 {
     height: 50%;
     width: 20%;
     padding: 5px 5px;
     background:transparent;
     border: 2px solid #F4E0B9;
     border-radius: 20px;
     color: #FDEEDC;
     cursor: pointer;
 }

  /* give styling to div  */
 .input-pasword
 {
    height: 8%;
    width: 50%;
    margin: 35px  0 0 25px;
    border: solid 2px #F4E0B9;
    display: flex;
    align-items: center;
    border-radius: 50px;
 }
 /* give styling to input  */

  .input-pasword input
  {
    height: 20px;
    margin-left: 10px;
    outline: none;
    width: 50%;
    background-color: #293040;
    border: none;
    color: #F4E0B9;
}
 /* give styling label  */

  .input-pasword label
  {
    position: absolute;
    margin-left: 25px;
    font-weight: 500;
    padding: 0 6px 0 6px;
    transform: translateY(-135%);
    background-color: #293040;
    color: #F4E0B9;
  }
  /* give styling to div  */

.input-Email-2
{
    height: 8%;
    width: 50%;
    margin: 35px  0 0 25px;
    border: solid 2px #F4E0B9;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
 /* give styling to input  */

.input-Email-2 input
{
    height: 20px;
    margin-left: 10px;
    outline: none;
    width: 50%;
    background-color: #293040;
    border: none;
    color: #F4E0B9;
}
 /* give styling label  */

 .input-Email-2 label
{
    position: absolute;
    margin-left: 25px;
    font-weight: 500;
    padding: 0 6px 0 6px;
    transform: translateY(-135%);
    background-color: #293040;
    color: #F4E0B9;
} 